.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}
@media (max-width: 768px) {
  .header__square-pic {
    top: 20%;
    opacity: .3;
    height: calc(568px / 2);
    width: calc(568px / 2);
  }
}
