.footer__column-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  display: block;

}
.footer__column-link:hover{
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}