.footer__column-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  display: block;
}
.footer__column-link:not(:first-of-type) {
  margin: 16px 0 0;
}
.footer__column-link:hover{
  opacity: .5;
}
