.feynman__title{
  font-size: 120px;
  line-height: 1.15;
  margin: 0 auto;
  max-width: 648px;
  text-align: center;
  padding: 100px 0 70px 0;
}
@media (max-width: 680px) {
  .feynman__title{
    font-size: 50px;
  }
}
