.feynman{
  min-height: 890px;
  background: url('../../images/feynman.png') bottom left / auto no-repeat;
  position: relative;
  background-color: #f2f2f2;
}
@media (max-width: 768px) {
  .feynman{
    min-height: 445;
    background: #f2f2f2;
  }
}
